@import '../../variables';

.thread {
  background: $base-color;
  border-radius: 5px;
  color: $primary-color;
  margin: 50px auto;
  max-width: 960px;
  padding: 20px 10px 10px;
  @media (max-width: 1600px) {
    margin-top: 0;
    border-radius: 5px;
  }
  a {
    color: $highlight-color;
  }
  p {
    margin-top: 0;
    margin-bottom: 0;
  }
  blockquote {
    margin-top: 0;
    border-left: 4px solid $secondary-color;
    margin: 4px 0 4px 8px!important;
    padding-left: 8px;
  }
  hr {
    border-color: $disabled-color;
  }
  table {
    text-align: center;
    border-collapse: collapse;
    border: 3px solid #eee;
    margin-bottom: 14px;
    th {
      text-align: center;
      border: solid 1px #eee;
      padding: 4px 8px;
    }
    td {
      border: solid 1px #eee;
      padding: 4px 8px;
    }
  }
}