@import '../../variables';

.thread {
  height: 100%;
  width: 100%;
  font-family: $primary-font;
  .content {
    display: flex;
    justify-content: center;
    .comments {
      border: solid 1px $faded-color;
      background: $base-color;
      margin: 50px 10px;
      width: 1080px;
      border-radius: 5px;
      background: $base-color;
      color: $primary-color;
      margin: 50px auto;
      max-width: 1080px;
      padding: 10px;
      a {
        color: $highlight-color;
      }
      p {
        margin-top: 0;
        margin-bottom: 0;
      }
      blockquote {
        margin-top: 0;
        border-left: 4px solid $secondary-color;
        margin: 4px 0 4px 8px!important;
        padding-left: 8px;
      }
      hr {
        border-color: $disabled-color;
      }
      table {
        text-align: center;
        border-collapse: collapse;
        border: 3px solid #eee;
        margin-bottom: 14px;
        th {
          text-align: center;
          border: solid 1px #eee;
          padding: 4px 8px;
        }
        td {
          border: solid 1px #eee;
          padding: 4px 8px;
        }
      }
    }
  }
  .highlight {
    color: $highlight-color;
  }
  .footer {
    margin: 25px 0 0;
  }
}