@import '../../variables';

.thread {
  background: $base-color;
  border-radius: 5px;
  color: $primary-color;
  margin: 50px auto 0;
  max-width: 960px;
  padding: 20px 10px;
  a {
    color: $highlight-color;
  }
  p {
    margin-top: 0;
  }
  blockquote {
    margin-top: 0;
  }
  line-height: 21px;
}