@import '../../variables';

blockquote {
  border-left: 4px solid $secondary-color;
  margin: 4px 0 4px 8px!important;
  padding-left: 8px;
}

.comment {
  display: flex;
  margin-bottom: 15px;
  font-family: $primary-font;
  .comment__vote {
    position: relative;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    img {
      height: 16px;
      display: block;
      margin: 3px 0;
      &.vote-up {
        transform: rotate(-90deg);
      }
      &.vote-down {
        transform: rotate(90deg);
      }
    }
    .comment__division {
      border-right: solid $disabled-color 2px;
      position: absolute;
      left: 17px;
      top: 47px;
    }
  }
  .comment__block {
    width: 100%;
    .comment__header {
      display: flex;
      justify-content: space-between;
      padding: 0 8px 0 0;
      .comment__user {
        display: inline;
        font-family: IBMPlexSans, Arial, sans-serif;
        font-size: $small-font-size;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
      .comment__timestamp {
        color: $secondary-color;
        display: inline;
        font-size: $small-font-size;
      }
    }
    .comment__body {
      border-radius: 2.5px;
      font-size: $medium-font-size;
      margin-right: 40px;
      max-width: 780px;
    }
  }
}
