@import '../../variables';

@keyframes slide-up {
  0% {
    background: rgba(0,128,0,0.6);
    transform: translateY(20px);
  }
  100% {
    background: rgba(0,128,0,0);
    transform: translateY(0);
  }
}

.comment {
  display: flex;
  font-family: $primary-font;
  animation: slide-up 0.4s ease;
  .comment__vote {
    padding: 0;
    display: flex;
    flex-direction: column;
    img {
      height: 16px;
      display: block;
      margin: 3px 0;
      &.vote-up {
        transform: rotate(-90deg);
      }
      &.vote-down {
        transform: rotate(90deg);
      }
    }
    .comment__division {
      margin: 2px auto 0;
      border-right: solid $faded-color 2px;
      height: calc(100% - 50px);
    }
  }
  .comment__block {
    width: 100%;
    padding-left: 8px;
    .comment__content {
      padding-bottom: 10px;
      .comment__header {
        display: flex;
        justify-content: space-between;
        padding: 0 8px 0 0;
        .comment__user {
          display: inline;
          font-family: IBMPlexSans, Arial, sans-serif;
          font-size: $small-font-size;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
        .comment__timestamp {
          color: $secondary-color;
          display: inline;
          font-size: $small-font-size;
        }
      }
      .comment__body {
        border-radius: 2.5px;
        font-size: $medium-font-size;
        margin-right: 40px;
        max-width: 780px;
        padding: 4px 0 4px;
      }
    }
  }
}
