@font-face {
  font-family: "Noto Sans";
  src: url('../../assets/fonts/NotoSans/NotoSans-Regular.ttf');
}

@font-face {
  font-family: "IBMPlexSans";
  src: url('../../assets/fonts/IBM_Plex_Sans/IBMPlexSans-Regular.ttf');
}

@font-face {
  font-family: "IBMPlexSans";
  src: url('../../assets/fonts/IBM_Plex_Sans/IBMPlexSans-Medium.ttf');
  font-weight: bold;
}

.comment {
  display: flex;
  margin-bottom: 15px;
  font-family: "Noto Sans",Arial,sans-serif;
  .comment__vote {
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    img {
      height: 16px;
      display: block;
      margin: 3px 0;
      &.vote-up {
        transform: rotate(-90deg);
      }
      &.vote-down {
        transform: rotate(90deg);
      }
    }
    .comment__division {
      border-right: solid rgb(77, 75, 75) 2px;
      height: 100%;
      margin: 5px auto 0;
    }
  }
  .comment__block {
    width: 100%;
    .comment__header {
      display: flex;
      justify-content: space-between;
      padding: 0 8px;
      .comment__user {
        display: inline;
        font-family: IBMPlexSans, Arial, sans-serif;
        font-size: 12px;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
      .comment__timestamp {
        color: #818384;
        display: inline;
        font-size: 12px;
      }
    }
    .comment__body {
      border-radius: 2.5px;
      font-size: 14px;
      margin-right: 40px;
      max-width: 780px;
      padding: 0 8px;
    }
  }
}
