@import '../../variables';

.home {
  height: 100%;
  width: 100%;
  font-family: $primary-font;
  .content {
    display: flex;
    justify-content: center;
    color: $primary-color;
    .instructions {
      border: solid 1px $faded-color;
      background: $base-color;
      margin: 50px 10px;
      width: 1080px;
      border-radius: 5px;
      text-align: center;
      padding: 10px 0;
      .text-container {
        max-width: 634px;
        margin: 0 auto;
        .instructions__text {
          text-align: left;
          font-size: $medium-font-size;
          margin: 20px 0;
        }
      }
      .instructions__button {
        display: inline-block;
        margin: 20px 0;
        border: solid 1px $secondary-color;
        border-radius: 5px;
        padding: 10px 20px;
        cursor: pointer;
        user-select: none;
        &:hover {
          background: $faded-color;
        }
      }
    }
  }
  .highlight {
    color: $highlight-color;
  }
  .footer {
    margin: 25px 0 0;
  }
}
