@import '../../variables';

.home {
  // background: $base-color;
  border-radius: 5px;
  color: $primary-color;
  margin: 0 auto 0;
  max-width: 960px;
  padding: 10px;
  text-align: center;
  font-family: $primary-font;
  // line-height: 21px;
  img {
    margin-top: 10px;
  }
  .home__heading {
    font-size: 50px;
    // padding: 25px 0;
  }
  .home__instructions {
    background: $base-color;
    // background-image: linear-gradient(to bottom right, $base-color, $disabled-color);
    border-radius: 5px;
    margin: 25px auto 0;
    padding: 20px;
    // max-width: 700px;
    // height: 100%;
  }
  .home__step {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
  }
  .home__button {
    display: inline-block;
    // margin: 0 auto;
    // background: $secondary-color;
    margin: 10px 0;
    border: solid 1px $secondary-color;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    user-select: none;
    &:hover {
      background: $disabled-color;
    }
  }
  .highlight {
    color: $highlight-color;
  }
  .footer {
    margin: 25px 0 0;
  }
}
