$base-color: rgb(24, 23, 23);
$primary-color: rgb(215, 218, 220);
$secondary-color: rgb(129, 131, 132);
$disabled-color: rgb(77, 75, 75);
$faded-color: rgb(59, 58, 58);
$highlight-color: rgb(79, 188, 255);
$warning-color: rgb(238, 198, 67);
$primary-font: "Noto Sans", Arial, sans-serif;
$small-font-size: 14px;
$medium-font-size: 16px;
$large-font-size: 20px;
$ball-size: 15px;
$margin: 2px;
$line-height: 35px;