@import '../../variables';

.reply-trunc {
  margin-bottom: 15px; 
  font-size: $small-font-size;
  font-family: 'IBMPlexSans', Arial, sans-serif;
  font-weight: bold;
  .more-replies {
    display: inline;
    cursor: pointer;
    color: $highlight-color;
    &:hover {
      text-decoration: underline;
    }
  }
}